:root {
    --color1: rgb(251, 102, 102);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 10vh;
    color: black;
    padding-top: 20vh;
    padding-bottom: 2vh;
}

#subtitle {
    font-size: 4vh;
    font-style: italic;
    color: var(--color1);
}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    max-width: 600px;
    font-size: 2vh;
    text-align: justify;
}

@media (max-width: 530px) {
    #subtitle {
        word-spacing: 30000px;
    }

    h1 {
        padding-top: 5vh;
    }
}

h2 {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 6vh;
    color: var(--color2);
    font-weight: 600;
    padding-bottom: 5vh;
}

nav {
    height: 7vh;
    position: sticky;
    top: 0;
    background-color: hwb(0 86% 1%);
    text-align: right;
    z-index: 1;
}

nav ls {
    padding: 1vw;
}

nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 7vh;
    margin: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@media (max-width: 530px) {
    nav ul {
        justify-content: center;
    }

    nav ls {
        padding: 3vw;
    }
}

nav ul a {
    text-decoration: none;
    color: grey;
    font-weight: 500;
    font-size: 20px;
}

#welcome-section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw 5vw;
}

#pink {
    background-color: var(--color1);
    height: 1vh;
    width: 25vw;
    margin: auto;
}

/* projects section */
#project-heading {
    color: grey;
    padding: 3rem;
    font-family: 'Roboto Mono', monospace;
}

.projects-grid {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
}

.project-tile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40vw;
    min-width: 390px;
    max-width: fit-content;
    height: 40vw;
    min-height: 390px;
    max-height: 550px;
    display: flex;
    align-items: center;
    margin: 2vw;
    position: relative;
}

img {
    display: block;
    width: 75%;
    max-height: 75%;
    margin: auto;
}

.project-title {
    color: grey;
    font-weight: 500;
    font-size: 20px;
    margin: 2vw;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
}

/* contact section */
#contact-section #pink {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#contact-section {
    min-height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 1500px;
}

#contact-title {
    color: grey;
    font-family: 'Roboto Mono', monospace;
}

.contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2.5vh;
    justify-content: center;
}

.contact-links a {
    padding: 1vw 2vw;
    font-family: 'Roboto Mono', monospace;
    color: var(--color1)
}